.chameleon-container{
    position: relative;
    transition: all 4s;
}

.chameleon-container .chameleon-accordion [id^=chameleon_check_id]{
	position: absolute;
	left: -9999px;
}

.chameleon-container:hover{
    box-shadow: 3px 4px 10px #ddd;
    transition: box-shadow 1s;
    transition: all 4s;
}

.accordion-item .more-link{
	box-shadow: none;
	-webkit-box-shadow: none;
	text-align: center;
	opacity: 0;
	transition: opacity 4s;
	transition: all 4s;
}

.accordion-item:hover .more-link{
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
	text-align: center;
	transition: opacity 4s;
	transition: all 4s;
}

.chameleon-accordion .accordion-item:hover a.widget-title{
	text-shadow: 1px 1px 2px currentColor;
	transition: all 0.5s;
}
.chameleon-accordion:hover ~ .chameleon-accordion:not(:last-of-type) .accordion-item a.widget-title{
	text-shadow: 2px 2px 4px currentColor;
	transition: all 0.5s;
}

.chameleon-accordion .accordion-item a.widget-title{
	transition: all 1s;
}

.chameleon-accordion:hover [id^="chameleon_check_id"] + label{
	position: absolute;
	top: 85%; 
	content:'';
	height: 100%;
	width: 100%;
	cursor: pointer;
    color: inherit;
    opacity: 1;
	transition: top 4s cubic-bezier(.44, .99, .48, 1);
    transition: all 6s;
}

.chameleon-accordion [id^="chameleon_check_id"] + label{
	content:'';
	position: absolute;
	top: 50%;
	height: 100%;
	opacity: 0.4;
	transition: color 30s;
    transition: all 30s;
}

.chameleon-container .chameleon-accordion [id^="chameleon_check_id"]:checked + label{
    opacity: 0.9;
    top: calc(100% - 50px);
    transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"] + label:before,
.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"] + label:after{
    position: absolute;
    transition: all 2s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"] + label:before{
    content: '⇣●';
    left: 10px;
    top: 20px;
    -webkit-animation: chameleon-sudo .85s linear infinite alternate;
    animation: chameleon-sudo .85s linear infinite alternate;
    transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"] + label:after{
    content: '●⇣';
    top: 20px;
    right: 10px;
    -webkit-animation: chameleon-sudo .85s linear infinite alternate;
    animation: chameleon-sudo .85s linear infinite alternate;
    transition: all 4s;
}

@keyframes chameleon-sudo {
  from {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  to {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"]:checked + label{
    position: absolute;
    top: calc(100% - 50px);
	bottom: 0;
    transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"]:checked + label:before{
    content: '●⇡';
	top: 25px;
	-webkit-animation: chameleon-sudo .85s linear infinite alternate;
    animation: chameleon-sudo .85s linear infinite alternate;
    transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"]:checked + label:after{
    content: '⇡●';
	top: 25px;
	-webkit-animation: chameleon-sudo .85s linear infinite alternate;
    animation: chameleon-sudo .85s linear infinite alternate;
    transition: all 4s;
}

.chameleon-container .chameleon-accordion{
	position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%; 
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.30,  rgba(0,0,0,1)),
					color-stop(0.20,  rgba(0,0,0,1)),
					color-stop(0.05,  rgba(0,0,0,0.1)),
					color-stop(0.01,  rgba(0,0,0,0.09))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-transition: all 4s;
	transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover{
	overflow: hidden;
	padding-bottom: 10px;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%;
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.30,  rgba(0,0,0,1)),
					color-stop(0.20,  rgba(0,0,0,1)),
					color-stop(0.05,  rgba(0,0,0,0.9)),
					color-stop(0.01,  rgba(0,0,0,0.8))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-transition: all 4s;
	transition: all 4s;
}

.chameleon-container .chameleon-accordion [id^="chameleon_check_id"] + label ~ .accordion-item{
	overflow: hidden;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%; 
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.30,  rgba(0,0,0,1)),
					color-stop(0.20,  rgba(0,0,0,1)),
					color-stop(0.05,  rgba(0,0,0,0.9)),
					color-stop(0.01,  rgba(0,0,0,0.09))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: all 4s;
	transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover [id^="chameleon_check_id"] + label ~ .accordion-item{
	margin-bottom: 30px;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%; 
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.30,  rgba(0,0,0,1)),
					color-stop(0.20,  rgba(0,0,0,1)),
					color-stop(0.05,  rgba(0,0,0,0.9)),
					color-stop(0.01,  rgba(0,0,0,0.09))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: all 4s;
	transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover ~ .chameleon-accordion:not(:last-of-type){
	overflow: hidden;
	padding-bottom: 10px;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%;
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.95,  rgba(0,0,0,1)),
					color-stop(0.80,  rgba(0,0,0,0.40)),
					color-stop(0.70,  rgba(0,0,0,0.25)),
					color-stop(0.60,  rgba(0,0,0,0.25)),
					color-stop(0.50,  rgba(0,0,0,0.25)),
					color-stop(0.40,  rgba(0,0,0,0.25)),
					color-stop(0.30,  rgba(0,0,0,0.25)),
					color-stop(0.20,  rgba(0,0,0,0.25)),
					color-stop(0.10,  rgba(0,0,0,0.10)),
					color-stop(0.01,  rgba(0,0,0,0.01))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-transition: all 4s;
	transition: all 4s;
}

.chameleon-container .chameleon-accordion:hover + .chameleon-accordion:not(:last-of-type){
	overflow: hidden;
	padding-bottom: 10px;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-mask-size: 100% 100%;
	-webkit-mask: -webkit-gradient(linear,  right bottom, right top,
					color-stop(1.00,  rgba(0,0,0,1)),
					color-stop(0.95,  rgba(0,0,0,1)),
					color-stop(0.80,  rgba(0,0,0,0.90)),
					color-stop(0.70,  rgba(0,0,0,0.90)),
					color-stop(0.60,  rgba(0,0,0,0.80)),
					color-stop(0.50,  rgba(0,0,0,0.70)),
					color-stop(0.01,  rgba(0,0,0,0.30))
					);
	-webkit-mask-position: left bottom;
	-webkit-transition: -webkit-mask-position 5s ease;
	-webkit-transition: all 4s;
	transition: all 4s;
}